<div id="messages">
  <button class="btn btn-primary" (click)="onSendMessage()">Send Test Message</button>
  <br><br>
  <button class="btn btn-primary" (click)="onSendMessage2()">Send Test 2 Message</button>
  <h2>Received messages</h2>
  <ol>
    <!-- we will use Angular binding to populate list of messages -->
    <li class="message">message</li>
  </ol>
</div>
